.DS_Store
invoice-generation/venv
invoice-generation/.idea
news-api-email/venv
news-api-email/.idea
pdf-template/venv
pdf-template/.idea
portfolio-app/venv
portfolio-app/.idea
weather-api/venv
weather-api/.idea
weather-api/.ipynb_checkpoints
weather-forecast/venv
weather-forecast/.idea
weather-forecast/__pycache__
sentiment-analysis/.ipynb_checkpoints
sentiment-analysis/venv
sentiment-analysis/.idea
webcam-email/venv
webcam-email/.idea
webcam-email/__pycache__
web-scapper/venv
web-scapper/.idea/
web-scapper/__pycache__
hotel-booking/venv
hotel-booking/.idea
student-mgmt-system-desktop/venv
student-mgmt-system-desktop/.idea
chatbot-gpt/venv
chatbot-gpt/.idea
chatbot-gpt/__pycache__