<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
</head>
<body>
URL Format: http://127.0.0.1:8008/api/v1/station/date <br/>
URL Example for data of the station with date: http://127.0.0.1:8008/api/v1/10/2023-05-01 <br/>
URL Example for all data of a station: http://127.0.0.1:8008/api/v1/10 <br/>
URL Example for data of a station with year: http://127.0.0.1:8008/api/v1/year/10/1988 <br/>
<h3>List of all stations</h3>
<p>{{station_list | safe}}</p>
</body>
</html>